/* Fondo de la página */
body {
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-top: 80px;
  /* Espacio para la navbar */
  flex-direction: column;
  /* Asegura que el pie de página esté al fondo */
}

.card {
  margin-top: 50px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.form-control {
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  width: 100%;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.text-center a {
  color: #007bff;
  text-decoration: none;
}

.text-center a:hover {
  text-decoration: underline;
}

.mt-3 {
  margin-top: 15px;
}

.navbar {
  margin-bottom: 0;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-top: auto;
  /* Asegura que el footer se quede abajo */
}
