body {
  padding-top: 50px;
}

.container {
  margin-bottom: 200px;
  padding: 12px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: transparent;
}

/* Fondo de la página */
body {
  background-color: #001717;
  /* Color claro de fondo */
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 100vh;
  /* Asegura que ocupe toda la altura de la pantalla */
  margin: 0;
}

h1 {
  color: #ffcd42;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

h5,
p {
  color: white;
  text-align: center;
}

.logo {
  margin-right: 10px;
  width: 55px;
}

span {
  font-weight: bold;
  color: #1e8449;
}
